@{
    ViewData["Title"] = "Home Page";
}

<div class="main" style="background-image: src(~/Views);">
    <div class="first-block">
        <div class="main-text">
            <p class="mtext-base">English learn UUNIT By <span class="first-text">IS</span></p>
            <p>Discover amazing lessons to expand your word bank and 
                the option to add home reading texts for solidifying 
                new knowledge. Join us, enhance your language skills daily!
            </p>
            <ul>
                <li>Take the tests</li>
                <li>Learn the words</li>
                <li>Add texts to home reading</li>
            </ul>
        </div>
        <div class="main-picture">
            <img src="~/img/9UGATU.jpg" alt="ugatu" height="400px">
        </div>
    </div>
    <div class="second-block">
        <div class="main-text">             
            <p class="smain-text">You can learn <span class="first-text">English!</span></p>
            <p>The learn English Network has been helping people to learn English for free</p>
        </div>
        <div class="cards-container">
            <div class="card">
                <div class="card-img">
                    <img src="https://static.tildacdn.com/tild6634-3964-4233-b535-313765393934/jaredd-craig-HH4WBGN.jpg">
                </div>
                <div class="desc">
                    <p class="primary-text">Home reading</p>
                    <p class="secondary-text">You can add your text and learn it</p>
                </div>
                <form>
                    <button class="button-text" asp-controller="HRead" asp-action="Index"><span class="first-text">H</span>Reading</button>
                </form>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX18929990.jpg">
                </div>
                <div class="desc">
                    <p class="primary-text">Learn words</p>
                    <p class="secondary-text">You can add and learn your words</p>
                </div>
                <form>
                    <button class="button-text" asp-controller="Words" asp-action="Index"><span class="first-text">L</span>Words</button>
                </form>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="https://dl.dropbox.com/s/u3j25jx9tkaruap/Webp.net-resizeimage.jpg?raw=1">
                </div>
                <div class="desc">
                    <p class="primary-text">Do tests</p>
                    <p class="secondary-text">You can do tests with your words</p>
                </div>
                <form>
                    <button class="button-text" asp-controller="Tests" asp-action="Index"><span class="first-text">D</span>Tests</button>
                </form>
            </div>
        </div>
        
        <div>
            <p class="bottom-text">The Learn English Network has <span class="bold-text">everything</span> you need to become a <span class="bold-text">confident</span>
                English learner!
            </p>
        </div>
    </div>
</div>
