@model ISEnglish.Domain.Core.Models.Word

@{
    ViewBag.Title = "Learn Words";
}

<div class="main">
    <div class="side-nav">
        <ul>
            <li><a asp-controller="Words">All words</a></li>
            <li><a asp-controller="Words">Learn words</a></li>
            <li><a asp-controller="Words">Add word</a></li>
            <li><a asp-controller="Words">Tests with words</a></li>
        </ul>
    </div>

</div>
