<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISEnglish</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISEnglish.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <div class="header">
                <div class="left-navbar">
                    <div class="logo">
                        <a>
                            <span class="first-text">IS</span>
                            <span class="second-text"> English</span>
                        </a>
                    </div>
                    <a asp-controller="Home" asp-action="Privacy" class="line-animation">
                        <span class="first-text">H</span><span class="second-text">Reading</span>
                    </a>
                    <a href="#" class="line-animation">
                        <span class="first-text">L</span><span class="second-text">Words</span>
                    </a>
                    <a href="#" class="line-animation">
                        <span class="first-text">D</span><span class="second-text">Tests</span>
                    </a>
                </div>
                <div class="right-navbar">
                    <a asp-controller="Users" asp-action="Login" class="login-text">Login</a>
                    <a asp-controller="Users" asp-action="Register" class="register-text">Register</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="top-container">
            <div class="foooter-top-text">
                <span>CONTUCT US</span>
                <span>FOLLOW US</span>
            </div>
            <p>
                If you have a question about the Learn English Network
                fill out our <span>Contact Form</span>, and we will get back to you asap.
            </p>
        </div>
        <div class="bottom-container">
            <div class="footer-logo">
                <span class="first-text">IS</span><span class="second-text"> English</span>
            </div>
            <span class="copyriting-text">© Copyright - All Rights Reserved.</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
